<a href="https://colab.research.google.com/github/Alekhyo/Pandas/blob/master/IPL%20EDA%20part4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  **Pandas Assingment-4**

(Based on IPL matches and deliveries dataset)

In [2]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving matches.csv to matches.csv

In [0]:
matches=pd.read_csv('matches.csv')

In [4]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving deliveries.csv to deliveries.csv

In [0]:
delivery=pd.read_csv('deliveries.csv')

In [0]:
#  Q1.- Make a pivot table of top 10 bowlers(in terms of wickets) with over(1-20) showing no. of wickets.

In [0]:
out=['caught','bowled','lbw','caught and bowled','stumped','hit wicket']
#dismissal_kind credited to bowlers

In [0]:
dismissal=delivery[delivery['dismissal_kind'].isin(out)]
#discards other rows in which there is no dismissal or dismissal_kind not credited to bowler

In [0]:
top10=list(dismissal.groupby('bowler')['dismissal_kind'].count().sort_values(ascending=False).head(10).reset_index()['bowler'])
#10 bowlers with most wickets

In [14]:
wickets=delivery[delivery['bowler'].isin(top10) & delivery['dismissal_kind'].isin(out)]
pt=wickets.pivot_table(index='bowler',columns='over',values='dismissal_kind',aggfunc='count')
pt

over               1     2     3     4     5   ...    16    17    18    19    20
bowler                                         ...
A Mishra          1.0   NaN   NaN   4.0   1.0  ...  13.0   7.0   6.0   4.0   6.0
A Nehra           5.0   9.0   6.0  11.0   7.0  ...   8.0  10.0  10.0  12.0  14.0
B Kumar          15.0   7.0   9.0   2.0   4.0  ...  10.0   7.0  13.0  13.0  20.0
DJ Bravo          NaN   1.0   2.0   2.0   1.0  ...   8.0   8.0  23.0   9.0  24.0
Harbhajan Singh   5.0   NaN   1.0   4.0   4.0  ...   5.0   8.0   6.0   4.0   1.0
PP Chawla         NaN   1.0   NaN   1.0   2.0  ...   9.0   8.0   6.0   2.0   4.0
R Ashwin          5.0   1.0   5.0   4.0   9.0  ...  10.0   3.0   6.0   1.0   1.0
R Vinay Kumar     1.0   5.0   3.0  10.0   5.0  ...   3.0   7.0   6.0   9.0  20.0
SL Malinga       10.0  10.0   2.0   3.0   5.0  ...  17.0  13.0  18.0  32.0  16.0
Z Khan           12.0   6.0  15.0   7.0  10.0  ...   2.0  11.0   7.0  10.0   7.0

[10 rows x 20 columns]

In [0]:
# Q2.- Make a function for batting profile of any batsman:-

Ex- 

V Kohli:

Innings:  

Total Runs: 

No. of MOM(Man of the match):

No. of boundries:

In [0]:
def bat_stats(player_name):
  try:
    details=delivery.merge(matches,left_on='match_id',right_on='id')
    innings=details[details['batsman']=='V Kohli'].drop_duplicates('match_id')['match_id'].count()
    runs=details[(details['batsman']=='V Kohli') & (details['batsman_runs']>0)]['batsman_runs'].sum()
    mom=details[details['player_of_match']=='V Kohli'].drop_duplicates('match_id').shape[0]
    boundary=details[(details['batsman']=='V Kohli') & ((details['batsman_runs']==4) | (details['batsman_runs']==6))].shape[0]
    print("Name : {} \nInnings : {}  \nRuns : {}  \nMOM : {}  \nBoundaries : {} ".format(player_name,innings,runs,mom,boundary))
  except:
    print("Wrong Name")

In [0]:
bat_stats('V Kohli')

Name : V Kohli
Innings : 141
Runs : 4423
MOM : 11
Boundaries : 544

In [0]:
# Q3.- Write a function to return top-4 batsman at a venue. Take venue as input.

In [0]:
def top4batsman(venue_name):
  try:
    new=(delivery.merge(matches,left_on='match_id',right_on='id'))
    new=new[new['venue']==venue_name]
    return (new.groupby(['batsman'])['batsman_runs'].sum().sort_values(ascending=False).head(4).reset_index()[['batsman']])
  except:
    print("Wrong name")

In [17]:
top4batsman('M Chinnaswamy Stadium')

          batsman
0         V Kohli
1        CH Gayle
2  AB de Villiers
3       JH Kallis

In [0]:
# Q4.- No. of matches per season played in Mumbai.

In [20]:
season=matches[matches['city']=='Mumbai'].groupby('season')['id'].count().reset_index().sort_values('season',ascending=False)
season.rename(columns={'id':'Matches played'})

   season  Matches played
8    2017               8
7    2016               4
6    2015              11
5    2014               7
4    2013               8
3    2012               8
2    2011              16
1    2010              13
0    2008              10

In [0]:
# Q5. - Top-3 Player in terms of most no. of catches.

In [24]:
c=delivery[(delivery['dismissal_kind']=='caught')]
cb=delivery[(delivery['dismissal_kind']=='caught and bowled')]

cb=cb.assign(fielder=cb['bowler'])

c=pd.concat([c,cb])

c.groupby('fielder')['dismissal_kind'].count().sort_values(ascending=False).head(3).reset_index().rename(columns={'dismissal_kind':'No.of Catches'})

          fielder  No.of Catches
0      KD Karthik             88
1        SK Raina             86
2  AB de Villiers             81